.path {
    stroke-dasharray: 155;
    
    animation: dash 5s linear alternate infinite;
    color: blueviolet;
  }
  
  @keyframes dash {
    from {
      stroke-dashoffset: 155;
    }
    to {
      stroke-dashoffset: 0;
    }
  }